.color1 {
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 1px;
  display: inline-block;
  border: black solid 1px;
}

.color2 {
  width: 40px;
  height: 40px;
  background-color: red;
  margin: 1px;
  display: inline-block;
  border: black solid 1px;
}

.color3 {
  width: 40px;
  height: 40px;
  background-color: blue;
  margin: 1px;
  display: inline-block;
  border: black solid 1px;
}

.color4 {
  width: 40px;
  height: 40px;
  background-color: green;
  margin: 1px;
  display: inline-block;
  border: black solid 1px;
}

#pixel-board {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  padding: 20px;

}


/* .pixel {
  background-color: white;
  display: inline-block;
  border: black solid 1px;
} */
/* #paleta {
  display: flex;
  width: 100%;
}

#mensagem {
  height: 30px;
} */